<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="'Редактирование читателя - ' + ${person.getFullName()}"></title>
</head>
<body>
    <div class="ui-menu">
        <a th:href="@{/people}">Читатели</a>
        <a th:href="@{/books}">Книги</a>
    </div>

    <br/>

    <form th:method="patch" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
        <label for="full_name" th:text="'Введите ФИО: '">Введите ФИО: </label>
        <input id="full_name" th:field="*{fullName}" th:type="text">
        <div style="color: red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">fullName error</div>

        <br/>

        <label for="yearOfBirth" th:text="'Введите год рождения: '">Введите год рождения: </label>
        <input id="yearOfBirth" th:field="*{yearOfBirth}" th:type="text">
        <div style="color: red" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">yearOfBirth error</div>

        <br/>

        <input type="submit" th:value="'Редактировать'">
    </form>

</body>
</html>