<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="'Читатель - ' + ${person.getFullName()}">Title</title>
</head>
<body>
    <div th:replace="main::menu" ></div>

    <hr/>

    <h1>Читатель: </h1>

    <p th:text="${person.getId()}">id</p>
    <p th:text="${person.getFullName()}">ФИО</p>
    <p th:text="${person.getYearOfBirth()}">год рожения</p>

    <hr/>

    <h2>Книги: </h2>

    <div th:if="${!person.getBooks().isEmpty()}" th:each="book : ${person.getBooks()}">
        <a th:href="@{/books/{id}(id=${book.getId()})}" th:text="${book.getName()} + ', ' + ${book.getAuthor()} + ', ' + ${book.getYear()}">книга</a>
    </div>

    <div th:if="${person.getBooks().isEmpty()}" th:text="'Читатель пока не взял ни одной книги'">Читатель пока не взял ни одной книги</div>

    <hr/>

    <a th:href="@{/people/{id}/edit(id=${person.getId()})}" th:text="'Редактировать'">Редактировать</a>
    <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
        <input th:type="submit" th:value="'Удалить'">
    </form>
</body>
</html>